//@import '../../node_modules/normalize.css/normalize.css';
@import '../variables.scss';

.chain__container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  gap: 1em;

  .chain__item {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin-bottom: 0;
  }
}

.add_daily {
  width: 50px;
  height: 50px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  .help_button {
    color: white;
    background-color: $primary-color;
    opacity: 0.5;
  }
  .help_button:hover {
    opacity: 1;
  }
  .help_button.is-active {
    opacity: 1;
  }

  .help {
    max-width: 300px;
    font-size: 1em;
    border: 1px solid $secondary-color;
    position: absolute;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content.block {
      display: flex;
    }

    .button {
      color: white;
      background-color: $danger-color;
    }
  }
}
