@import '../../variables.scss';

.login{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100%;
    border-right: 1px solid $secondary-color;
    border-top: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;

    @media screen and(min-width: 768px) {
        left: 20%;
        right: 20%;   
    }

    @media screen and(min-width: 1023px) {
        left: -100%;
        right: 7%;
    }
    .login__title{
        display: flex;
        justify-content: space-between;
    }
    
}
.login.is-danger{
    border-right: 1px solid $danger-color;
    border-top: 1px solid $danger-color;
    border-bottom: 1px solid $danger-color;
}